@page
@model HowdyNeighbor.Pages.AddTaskModel
@{
    ViewData["Title"] = "Add Task";
}

<form method="post">
    <strong>Add a custom task:</strong>
    <input asp-for="ChecklistTask.Description" class="form-control" />
    <span asp-validation-for="ChecklistTask.Description" class="text-danger"></span>
    <br />
    <strong>Enter date and time for task to be completed:</strong>
    <br />
    <input asp-for="ChecklistTask.Date" type="date" class="form-control" style="background-color:#ECFCFD;" />
    <span asp-validation-for="ChecklistTask.Date" class="text-danger" required></span>
    <span class="validity"></span>
    <br />
    <button type="submit">Add Task</button>
    <br />
    <div>
        <a asp-page="MovingList">Back to Moving CheckList</a>
    </div>
</form>