@page
@model HowdyNeighbor.Pages.EditTaskModel
@{
    ViewData["Title"] = "Edit Task";
}

<br />
<div style="
        text-align: center;
        width: 50%;
        margin: 0 auto;
        background-color: #CADCE6;
        padding: 2%;
        border: 1px solid slategray;
        border-radius: 4px;
        box-shadow: 2px 2px 1px 0px rgba(50, 50, 50, 0.25);
">
    <form method="post">
        <h3><strong>Update this task:</strong></h3>
        <br />
        <input type="hidden" asp-for="ChecklistTask.ID" />
        <input asp-for="ChecklistTask.Description" class="form-control" />
        <span asp-validation-for="ChecklistTask.Description" class="text-danger"></span>
        <br />
        <strong>Enter date and time for task to be completed:</strong>
        <br />
        <input asp-for="ChecklistTask.Date" type="date" class="form-control" style="background-color:#ECFCFD;" />
        <span asp-validation-for="ChecklistTask.Date" class="text-danger" required></span>
        <span class="validity"></span>
        <br />
        <strong>Mark task as completed:</strong>&nbsp;<input asp-for="ChecklistTask.IsComplete" />
        <br />
        <br />
        <button type="submit">Update Task</button>
        <br />
        <br />
        <div>
            <a asp-page="MovingList">Back to Moving CheckList</a>
        </div>
    </form>
</div>
<br />